window#waybar {
    background-color: rgba(30, 30, 30, 0.95);
    color: #ffffff;
    font-family: "Inter Nerd Font", "Inter", sans-serif;
    font-size: 14px;
}

#workspaces button {
    padding: 0 6px;
    color: #ddd;
    background: transparent;
    border: none;
    margin: 0 2px;
    font-size: 14px;
}

#workspaces button.active {
    color: #00ff00;
}

#workspaces button:hover {
    background: #222;
    border: none;
}

#window {
    padding: 0 8px;
    color: #fff;
}

#pulseaudio,
#bluetooth,
#clock,
#tray,
#backlight,
#battery,
#custom-theme,
#custom-power {
    padding: 0 8px;
    color: #fff;
    font-size: 14px;
}

#custom-power {
    font-size: 16px;
}

#custom-power:hover,
#bluetooth:hover,
#clock:hover {
    background: #1a1a1a;
}

#battery.warning {
    color: #ff9900;
}

#battery.critical {
    color: #ff0000;
}

#custom-theme {
    font-size: 16px;
}
